@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}

<h2 style="text-align:center;">Transaction</h2>
<div class="panel panel-default ">
    <div class="panel-heading">
        <h3 class="panel-title">Transaction Form</h3>
    </div>
    <div class="panel-body" id="_Form">
        @Html.Partial("P_Form")
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg" style="position: static; top: 0px; left: 68px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-md-2 control-label">User</label>
                    <div class='col-md-3'>
                        @Html.DropDownList("Name", (IEnumerable<SelectListItem>)ViewBag.User, "Select user", new { @class = "form-control formcontrol", @required = "required" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Transaction List</h3>
    </div>
    <div class="panel-body" id="_List">
        @Html.Partial("P_List")
    </div>
</div>

<script>
    $(document).ready(function () {
        datatable();
    });
    function datatable() {
        $('#example').DataTable({
            "aoColumnDefs": [{ "bSortable": false, 'aTargets': [3] }],
            "bSort": false,
            "bDestroy": true
        });
    }
    function onsuccess()
    {
        datatable();
    }
    $("#Type").change(function () {
        if ($("#Name").val() != "") {
            if ($("#Type").val() == "Transfer") {
                $("#transferToDiv").css("display", "block");
                var currentId = $("#Name").val();
                $.ajax({
                    url: "@Url.Action("GetToUser", "Transaction")",
                    data: { id: $("#Name").val() },
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $("#TransferTo").empty();
                        $.each(data, function (i, val) {
                            $("#TransferTo").append('<option value="' + val.AcountId + '">' + val.Name + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve users.' + ex);
                    }
                });
            }
            else {
                $("#transferToDiv").css("display", "none");
                $("#TransferTo").empty();
            }
        }
        else {
            alert("select user first!");
            $("#Type").val($("#Typeoption:first").val());
            $("#Name").focus();
        }
    });

    $("#Name").change(function () {
        $("#Type").val($("#Type option:first").val());
        $("#transferToDiv").css("display", "none");
        $("#TransferTo").empty();
        $("#Amount").val('');
        if ($("#Name").val() != "") {
            $.ajax({
                url: "@Url.Action("GetMaxAmount", "Transaction")",
                data: { id: $("#Name").val() },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    if (data.TotalBalance >= 100) {
                        $("#Amount").attr('max', data.TotalBalance);
                        $("#totalBal").html(data.TotalBalance);
                        $("#totalBal").val(data.TotalBalance);
                    }
                    else {
                        $("#totalBal").html(data.TotalBalance);
                        $("#totalBal").val(data.TotalBalance);
                        alert("Your balace is lower than 100 debit some amount");
                        $("#Type").val('Debit');
                        $("#Amount").focus();
                    }
                },
                error: function (ex) {
                    alert('Failed to retrieve users.' + ex);
                }
            });
        }
    });

    function onBeg() {
        var availBal = $("#totalBal").val();
        var Type = $("#Type").val();
        if (availBal >= 100) {
            return true
        }
        else if (Type == "Debit" && availBal <= 100) {
            return true
        }
        else {
            alert("your balance is low!");
            $("#transferToDiv").css("display", "none");
            $("#TransferTo").empty();
            $("#Type").val('Debit');
            $("#Amount").focus();
            return false;
        }
    }

</script>