@model TestDemo.Models.CustomModels.StudentModel

@using (Ajax.BeginForm("Student", "Student", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "_List", OnSuccess = "fnSuccess();OnReset();", OnBegin = "return fnvalidation();" }))
{

    @Html.HiddenFor(m => m.StudentId, new { @class = "form-control formcontrol" })

    <div class="form-group row">
        <label class="col-md-2 control-label">Name*</label>
        <div class="col-md-4">
            @Html.TextBox("StudentName", Model.StudentName, new { @class = "form-control formcontrol", @placeholder = "Name", @title = "Name", required = "required", @maxlength = "50" })
        </div>

        <label class="col-md-2 control-label">Age*</label>
        <div class="col-md-4">
            @Html.TextBox("StudentAge", Model.StudentAge, new { @class = "form-control formcontrol", @placeholder = "AGE", @title = "AGE", required = "required", @max = 50, @min = 3, @type = "number" })
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 control-label">Standard*</label>
        <div class="col-md-4">
            @Html.TextBox("Standard", Model.Standard, new { @class = "form-control formcontrol", @placeholder = "Standard", @title = "Standard", required = "required", @max = 12, @min = 1, @type = "number" })
        </div>

        <label class="col-md-2 control-label">Class*</label>
        <div class="col-md-4">
            @Html.DropDownListFor(m => m.ClassId, (IEnumerable<SelectListItem>)ViewBag.StudentClass, "Select Class", new { @class = "form-control formcontrol", @required = "required" })
        </div>
    </div>
    <div class="form-group row">

    </div>

    <div class="form-group row">
        <label class="col-md-2 control-label">Birthdate*</label>
        <div class='col-md-4'>
            @if (Model.BirthDate != null)
            {
                @Html.TextBox("BirthDate", Model.BirthDate.Value.ToShortDateString(), new { @class = "form-control formcontrol", @placeholder = "Birthdate", @title = "Birthdate", @id = "BirthDate", @required = "required" })
            }
            else
            {
                @Html.TextBox("BirthDate", Model.BirthDate, new { @class = "form-control formcontrol", @placeholder = "Birthdate", @title = "Birthdate", @id = "BirthDate", @value = "01-01-2000", @required = "required" })
            }

        </div>

        <label class="col-md-2 control-label">Address</label>
        <div class="col-md-4">
            @Html.TextArea("StudentAddress", Model.StudentAddress, new { @class = "form-control formcontrol", @placeholder = "Address", @title = "Address" })
        </div>
    </div>
    <div class="form-group row">

        <label class="col-md-2 control-label">Select Course</label>
        <div class="col-md-4">
            @if (ViewBag.Edit == "Edit")
            {
                @Html.ListBoxFor(m => m.StudentCourse, new MultiSelectList(Model.StudentCourseList, "CourseId", "CourseName", Model.StudentCourseListSelected.Select(e => e.CourseId)), new { @class = "chzn-select", data_placeholder = "Courses..." })
            }
            else
            {
                @Html.ListBoxFor(m => m.StudentCourse, new MultiSelectList(Model.StudentCourseList, "CourseId", "CourseName"), new { @class = "chzn-select form-control formcontrol", data_placeholder = "Courses..." })
            }
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 control-label">Hobby</label>
        <div class="col-md-8">
            @if (ViewBag.Edit == "Edit")
            {
                <input type="checkbox" name="hobby" value="Cricket" style="margin-top: 18px;" checked="@ViewBag.Cricket" /><label>Cricket</label>
                <input type="checkbox" name="hobby" value="Music" style="margin-top: 18px;" checked="@ViewBag.Music" /><label>Music</label>
                <input type="checkbox" name="hobby" value="Reading" style="margin-top: 18px;" checked="@ViewBag.Reading" /><label>Reading</label>
            }
            else
            {
                <input type="checkbox" name="hobby" value="Cricket" style="margin-top: 18px;" /><label>Cricket</label>
                <input type="checkbox" name="hobby" value="Music" style="margin-top: 18px;" /><label>Music</label>
                <input type="checkbox" name="hobby" value="Reading" style="margin-top: 18px;" /><label>Reading</label>
            }

        </div>
        <label class="col-md-2 formcontrol" style="color:red" id="checkBoxError"></label>
    </div>
    <div class="form-group row">
        <label for="Photo" class="col-md-2 control-label">Image</label>
        <div class="col-md-4">
            <input type="file" class="default formcontrol" id="Photo" style="color:transparent;width:110px; border:0px" />
            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 160px; max-height: 150px; line-height: 20px; margin-top: 15px;">
                @if (Model != null && Model.Photo != null)
                {
                    <img src="@Model.Photo" alt="" id="Image" />
                }
                else
                {
                    <img src="../../Content/images/notavailable.png" alt="no image" id="Image" />
                }
            </div>

            <div style="display:none;" id="divchange">
                <span class="btn btn-info btn-file">
                    <span class="fileupload-exists" onclick="$('#Photo').click();"><i class="fa fa-undo"></i> Change</span>
                </span>&nbsp;
                <a href="javascript:void(0);" class="btn btn-danger fileupload-exists" onclick="RemoveImage();"><i class="fa fa-trash-o"></i> Remove</a>
            </div>

        </div>
    </div>
   

    <div class="form-group row">
        <div class="col-lg-offset-2 col-lg-10">
            <input type="submit" class="btn btn-sm btn-success" id="validateBtn" value="Save">
            <button type="button" class="btn btn-sm btn-primary" onclick="fnReset();OnReset();">Reset</button>
        </div>
    </div>
}

